@keyframes blink {
  0% {
    height: 4px;
  }
  5% {
    transform: translate(0px, 2px);
    height: 1px;
  }
  10% {
    transform: translate(0px, 0px);
    height: 4px;
  }
}
@keyframes layer {
  0% {
    bottom: 0;
  }
  25% {
    bottom: -80px;
  }
  100% {
    bottom: 0;
  }
}
@keyframes bunny {
  0% {
    top: 0;
  }
  25% {
    top: 80px;
  }
  100% {
    top: 0;
  }
}
body {
  font-family: "Chakra Petch", sans-serif;
  margin: 0;
  height: 100vh;
  width: 100%;
  display: grid;
  place-items: center;
  counter-reset: score;
}

.phone {
  position: relative;
  border: 8px solid black;
  border-radius: 40px;
  width: 300px;
  height: 600px;
  background: #ccefff;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
  overflow: hidden;
}
.phone .layer-1 {
  position: absolute;
  z-index: 1;
  height: 450px;
  width: 80px;
  bottom: 0;
  animation-name: layer;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  right: 60px;
}
.phone .layer-1 input[type=checkbox] {
  animation-name: bunny;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}
.phone .layer-2 {
  position: absolute;
  z-index: 2;
  height: 450px;
  width: 80px;
  bottom: 0;
  animation-name: layer;
  animation-duration: 1.5s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  left: 60px;
}
.phone .layer-2 input[type=checkbox] {
  animation-name: bunny;
  animation-duration: 1.5s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}
.phone .layer-3 {
  position: absolute;
  z-index: 3;
  height: 400px;
  width: 220px;
  bottom: 0;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
  overflow: hidden;
  background: #ba6d4f;
  border-radius: 20px;
  left: 0;
  right: 0;
  margin: 0 auto;
  bottom: 0;
}
.phone .layer-4 {
  position: absolute;
  z-index: 4;
  height: 350px;
  width: 80px;
  bottom: 0;
  animation-name: layer;
  animation-duration: 0.5s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  left: 20px;
}
.phone .layer-4 input[type=checkbox] {
  animation-name: bunny;
  animation-duration: 0.5s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}
.phone .layer-5 {
  position: absolute;
  z-index: 5;
  height: 300px;
  width: 220px;
  bottom: 0;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
  overflow: hidden;
  background: #ba6d4f;
  border-radius: 20px;
}
.phone .layer-6 {
  position: absolute;
  z-index: 6;
  height: 250px;
  width: 80px;
  bottom: 0;
  animation-name: layer;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  right: 40px;
}
.phone .layer-6 input[type=checkbox] {
  animation-name: bunny;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}
.phone .layer-7 {
  position: absolute;
  z-index: 7;
  height: 200px;
  width: 160px;
  bottom: 0;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
  overflow: hidden;
  background: #ba6d4f;
  border-radius: 20px;
  right: 0;
}
.phone .layer-3::after,
.phone .layer-5::after,
.phone .layer-7::after {
  position: absolute;
  content: "";
  left: 0px;
  top: 0px;
  width: 100%;
  height: 40px;
  background: linear-gradient(135deg, #51af5e 25%, transparent 25%) -50px 0, linear-gradient(-135deg, #51af5e 25%, transparent 25%) -50px 0, linear-gradient(45deg, #51af5e 25%, transparent 25%), linear-gradient(-45deg, #51af5e 25%, transparent 25%);
  background-size: 40px 100px;
  background-position: 140px 0 0 30px 0;
}
.phone .layer-3::before,
.phone .layer-5::before,
.phone .layer-7::before {
  position: absolute;
  content: "";
  left: 0px;
  top: 15px;
  width: 100%;
  height: 40px;
  background: linear-gradient(135deg, #a6543d 25%, transparent 25%) -50px 0, linear-gradient(-135deg, #a6543d 25%, transparent 25%) -50px 0, linear-gradient(45deg, #a6543d 25%, transparent 25%), linear-gradient(-45deg, #a6543d 25%, transparent 25%);
  background-size: 40px 100px;
  background-position: 140px 0 0 30px 0;
}
.phone .layer-8 {
  position: absolute;
  z-index: 8;
  height: 120px;
  width: 200px;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
}
.phone .layer-8 .layer-8__left-lawn {
  position: absolute;
  border-radius: 40px 40px 0 0;
  width: 80px;
  height: 70%;
  background: #51af5e;
  bottom: 0;
  display: inline-block;
  left: 0;
}
.phone .layer-8 .layer-8__center-lawn {
  position: absolute;
  border-radius: 40px 40px 0 0;
  width: 80px;
  height: 100%;
  background: #51af5e;
  bottom: 0;
  display: inline-block;
  left: 60px;
}
.phone .layer-8 .layer-8__right-lawn {
  position: absolute;
  border-radius: 40px 40px 0 0;
  width: 80px;
  height: 80%;
  background: #51af5e;
  bottom: 0;
  display: inline-block;
  left: 130px;
}
.phone .layer-9 {
  position: absolute;
  z-index: 9;
  height: 100px;
  width: 120px;
  bottom: 0;
}
.phone .layer-9 .layer-9__left-cloud {
  position: absolute;
  border-radius: 40px 40px 0 0;
  width: 80px;
  height: 100%;
  background: white;
  display: inline-block;
  left: 0;
}
.phone .layer-9 .layer-9__right-cloud {
  position: absolute;
  border-radius: 0 40px 30px 0;
  width: 40px;
  height: 60%;
  background: white;
  bottom: 0;
  display: inline-block;
  left: 80px;
}
.phone .layer-10 {
  position: absolute;
  z-index: 10;
  height: 100px;
  width: 120px;
  bottom: 0;
  right: 0px;
}
.phone .layer-10 .layer-10__left-cloud {
  position: absolute;
  border-radius: 40px 0 0 30px;
  width: 40px;
  height: 60%;
  background: white;
  bottom: 0;
  display: inline-block;
  right: 80px;
}
.phone .layer-10 .layer-10__right-cloud {
  position: absolute;
  border-radius: 40px 40px 0 0;
  width: 80px;
  height: 100%;
  background: white;
  bottom: 0;
  display: inline-block;
  right: 0px;
}

div input[type=checkbox] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  cursor: pointer;
  height: 50px;
  margin: 0;
  position: relative;
  top: 0;
  width: 80px;
  z-index: 2;
}
div input[type=checkbox]:focus {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  outline: none;
}
div input:checked {
  counter-increment: score;
}
div input::after {
  content: counter(score);
}
div .left-ear--outer {
  position: absolute;
  border-radius: 90%;
  width: 20px;
  height: 50px;
  background: white;
  top: 1px;
  left: 10px;
}
div .left-ear--inner {
  position: absolute;
  border-radius: 90%;
  width: 10px;
  height: 50px;
  background: pink;
  left: 15px;
  top: 8px;
}
div .right-ear--outer {
  position: absolute;
  border-radius: 90%;
  width: 20px;
  height: 50px;
  background: white;
  top: 1px;
  right: 10px;
}
div .right-ear--inner {
  position: absolute;
  border-radius: 90%;
  width: 10px;
  height: 50px;
  background: pink;
  right: 15px;
  top: 8px;
}
div .head {
  position: absolute;
  border-radius: 50%;
  width: 100%;
  height: 80px;
  background: white;
  margin: 0 auto;
  left: 0;
  right: 0;
  top: 30px;
}
div .head .head__eye {
  position: absolute;
  border-radius: 50%;
  width: 4px;
  height: 4px;
  background: gray;
  top: 15px;
  animation-name: blink;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}
div .head .head__eye--left {
  left: 30px;
}
div .head .head__eye--right {
  right: 30px;
}
div .score::after {
  content: counter(score);
}
div .title {
  text-align: center;
  font-weight: 700;
  color: #a6543d;
}
div .score {
  color: #a6543d;
  font-size: 16px;
  text-align: center;
}/*# sourceMappingURL=style.css.map */